<!DOCTYPE html>
<html>
<head>
  <title>Campusbay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<nav class="teal">
  <div class="nav-wrapper">
      <!-- <a href="#!" class="brand-logo" >Campusbay</a> -->
       <%= link_to "Campusbay", '#',class: "brand-logo" %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">





          <li><%= link_to "Home", '#' , class: "grey-text text-lighten-3" %></li> 
          
          <li><%= link_to "Categories", '#' , class: "grey-text text-lighten-3" %></li>
          <li><%= link_to "About", '#' , class: "grey-text text-lighten-3" %></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">  
          <li><%= link_to "Home", '#', class: "grey-text text-lighten-3" %></li>
          <li><%= link_to "Categories", '#'%></li>
          <li><%= link_to "About", '#'%></li>
      </ul>
  </div>
</nav>


<div class="container">
  <p class="flash"><%= flash.notice %></p>
<%= yield %>

</div>
<!-- <div class="card-panel teal lighten-2"> -->



<footer class="page-footer #00695c teal darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Find us</h5>
                <p class="grey-text text-lighten-4">Map for our location will go here</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>

                
                  <li><%= link_to "Contuct us", '#', class: "grey-text text-lighten-3" %></li>
                  <li><%= link_to "How to shop on campusbay", '#', class: "grey-text text-lighten-3" %></li>
                  <li><%= link_to "Terms and Conditions", '#', class: "grey-text text-lighten-3" %></li>
                  <li><%= link_to "Help", '#', class: "grey-text text-lighten-3" %></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright campusbay
            <a class="grey-text text-lighten-4 right" href="#!">Get our Mobile App</a>
            </div>
          </div>
        </footer>

</body>
</html>
